<div class="cover"></div>
<div class="corps">

  <header>
    MOLUX
  </header>

  <div class="line l-2">
    Bienvenue
  </div>

  <div class="line l-3">
    Vous souhaitez jouer ?
  </div>
  
  <div class="form-row">
      <div class="alert alert-success" *ngIf="connexion" role="alert">
        Connexion réussie !
      </div>
      <div class="alert alert-success" *ngIf="inscription" role="alert">
        Inscription réussie !
      </div>
      <div class="alert alert-danger" *ngIf="errorMessage" role="alert">
        {{ errorMessage }}
      </div>
    </div>
  <div class="form">
    <form (ngSubmit)="OnSubmit(f)" #f="ngForm">
      <div class="inputs">
        <input type="email" class="form-control" id="inlineFormInputGrouptel" placeholder="Adresse email" name="email"
          ngModel required>
        <input type="password" class="form-control" id="inlineFormInputName" placeholder="Mot de passe" name="password"
          ngModel required>

      </div>
      <div class="btns">
        <button type="submit" id="sign-in-button" class="btn btn-primary" (click)="type='register'"
          [disabled]='f.invalid'>S'INSCRIRE</button>
        <hr>
        <button type="submit" id="sign-in-button" class="btn btn-primary" (click)="type='login'"
          [disabled]='f.invalid'>SE CONNECTER</button>
      </div>
    </form>
  </div>

</div>